* {
    margin: 0;    /*外側余白0*/
    padding: 0;    /*内側余白0*/
    box-sizing: border-box;
}

.main {
    font-family: "Ubuntu", sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, rgb(159, 70, 158), #b84545);
    overflow: hidden;
}

nav {
    display: flex;
    width: 80%;
    margin: 20px auto;
    align-items: center;
    font-weight: 550;

}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links li {
    list-style: none;
}

.logo-area {
    display: flex;
    align-items: center;
}

h2 {
    white-space: nowrap; /* テキストを折り返さないようにする */
    overflow: visible; /* 要素からはみ出たコンテンツを表示 */
    text-overflow: clip; /* テキストがはみ出した場合でも全て表示させる */
}

.logo {
    width: 20%;
    height: 20%;
    margin-right: 12px;
}

.nav-links ul li {
    display: inline-block;
    padding: 0 2rem;
}

.nav-links ul a {
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

.nav-links ul a:hover {
    color: rgb(159, 156, 103);
}
